.container {
    display: flex;
    flex-wrap: wrap;
}

.gridItem {
    box-sizing: border-box;
    aspect-ratio: 1/1;
    transition: background-color 3000ms ease;
}

.gridItem:hover {
    transition: background-color 200ms ease;
}